.signup-container{
  display: flex;
  width: 70%;
  height: 90vh;
  margin: 2rem auto;
}

.welcome-part {
  background-color: #1b4b66;
  width: 48%;
  height: 100%;
  box-shadow: 0px 8px 32px 16px rgba(68, 170, 238, 0.19);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8rem;
  padding: 1rem 2rem;
}

.link-home {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  text-decoration: none;
  padding: 1rem 0;
}

.link-home img {
  width: 25px;
  height: 25px;
}

.link-home p {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 1.4rem;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.content h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 800;
  line-height: 50px;
  color: #ffffff;
  width: 80%;
}

.content p {
  font-weight: 500;
  font-size: 1.2rem;
  color: #d0d0d0;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .signup-container {
    width: 80%;
  }

  .content h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .signup-container {
    width: 90%;
  }

  .content h1 {
    font-size: 2rem;
    width: 100%;
  }
  
  .content p {
    font-size: 1rem;
  }

  .link-home p {
    font-size: 1.2rem;
  }
}

@media (max-width: 767.98px) {
  .signup-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .welcome-part {
    width: 100%;
    gap: 2rem;
    height: auto;
    padding: 1rem 2.5rem;
  }

  .content {
    display: none;
  }

  .content h1 {
    font-size: 2rem;
    width: 100%;
  }
  
  .content p {
    font-size: 1rem;
  }

  .link-home {
    padding: 0;
  }

  .link-home p {
    font-size: 1.2rem;
  }
}