@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,300;0,600;1,400;1,500&family=Roboto:ital,wght@0,300;1,300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

.product-details-Container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 50%;
  height: 100%;
  align-items: flex-start;
}

.right-sec {
  display: flex;
  gap: 60px;
  padding-top: 30px;
  flex-wrap: wrap;
  height: 100%;
}

.buttonsComp-container {
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.box-desc {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.box-desc .created-at {
  margin-top: 30px;
  color : rgba(68, 68, 68, 1);
  display: flex;
  align-items: center;
}

.box-desc .created-at svg{
  margin-right: 0.5rem;
}

.description {
  width:300px;
  line-height: 25px;
  color : rgba(68, 68, 68, 1)
}
.product-title {
  font-family: 'Inter', sans-serif ;
  font-size: 1.8rem;
  font-weight:600;
  text-transform: capitalize;
}

.swal2-container {
  z-index: 1000000000000000;
}

.box-desc .productType {
  color: white;
  font-family: 'sans-serif';
  font-weight: bold;
  margin-top: 15px;
  border-radius: 30px;
  padding: 0.2rem 0.8rem;
  text-transform: capitalize;
}

.swal2-container {
  z-index: 1000000 !important;
}