:root {
  --primary: rgba(27, 75, 102, 1);
  --white: rgba(255, 255, 255, 1);
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:ital,wght@0,300;0,600;1,400;1,500&family=Roboto:ital,wght@0,300;1,300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

.navbar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-right: 70px;
} 

 .link,
 .link:after,
.link:before {
  transition: all .5s;
  text-decoration: none;
}
.join-btn {
  background-color: var(--primary);
  color: var(--white);
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  height: 35px;
  width: 90px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.link {
  color: black;
}
.link,
.link:after,
.link:before {
  transition: all .5s;
}
 .link:hover {
  color: var(--primary);
}

/* stroke */
 .link,
 .link {
  position: relative;
}
 .link:after,
 .link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
 .link:hover:after {
  width: 100%;
}

.messages  {
 width: 300px !important;
}

.messages .loading {
  height: auto;
  overflow: hidden;
  width: 100px;
}

.messages .no-msgs{
  width: 150px;
  padding: 1rem;
}